<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Thanks!</h2>
      
			<span class="byline">Your email address has been saved!</span> </div>
		<div class="content">
      <%= link_to "Back", home_index_path, :class => "button button-small" %>
      
	</div>
</div>



