<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>We are <strong>STEM</strong></h2>
			<span class="byline">We get things done.</span> </div>
		<div class="content">
			<p>blah blah <strong>BLAH</strong>, text text text. </p>

	 </div>
</div>
  
  <%= render "layouts/folio" %>

  <%= render "layouts/newsletter" %>

