<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Who are we?</h2>
      <span class="byline" style="text-align:left">Meet YOUR Team!</span>
		<div class="content">
      </br>
      </br>
    <p style="text-align:left"><strong>Stem Outsource</strong> is a specialist team, built up from individuals who gained their knowledge and expertise in accountancy.
Our heritage in outsourcing stems back to 1998 when we saw the opportunity to not only provide year end accounts but day to day business support. 
</br></br>
The Team quickly grew and is now collectively known as <strong>Stem</strong>, an established mix of individual’s specialist in all fields of outsource accounts from bookkeepers to financial director roles, 
handling clients with turnover ranging from £50K to £40 million, we can help you <strong>achieve </strong>your business goals and growth.
</br></br>
We have experience in many sectors of industry ranging from media personalities to heavy industry manufacturing,
we have also been able to form excellent relationships with leading banks and top 5 accountancy firms, who see us as a leading independent service provider.
This has led to many referrals mainly due to our <strong>high standards</strong> of work and client service.
</br></br>
Our unique structure enables us to react <strong>quickly</strong> to your business needs and draw on expertise across the financial field; this makes <strong>your team</strong> the <strong>winning team</strong>. </p>
</br></br>
	 </div>
</div>
