<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
      <h2>What we do:</h2>
			<span class="byline">Keeping our clients needs at the centre of all we do.</span> </div>
		<div class="column1">
      <div class="box"> <a href="#" ><%= image_tag "scr01.jpg", :class =>"image image-full"%>  </a>
				<h3>Payroll</h3>
				<p>Short desc.</p>
				<a href="#" class="button button-small">Link Button</a> </div>
		</div>
		<div class="column2">
      <div class="box"> <a href="#"><%= image_tag "scr02.jpg", :class => "image image-full" %></a>
				<h3>Another thing</h3>
				<p>Short desc.</p>
				<a href="#" class="button button-small">Link Button</a> </div>
		</div>
		<div class="column3">
      <div class="box"> <a href="#"><%= image_tag "scr03.jpg", :class => "image image-full" %></a>
        <h3>Third Thing.</h3>
        <p>short description test <strong>Strong words</strong></p>
        <a href="#" class="button button-small">Link Button</a> </div>
		</div>
		<div class="column4">
			<div class="box"> <a href="#"><%= image_tag "scr04.jpg", :class => "image image-full" %></a>
				<h3>Fourth Example</h3>
				<p>Blahblah blahblah.</p>
				<a href="#" class="button button-small">Link Button</a> </div>
		</div>
    </div>
	</div>
</div>