<div id="wrapper4">
	<div id="footer" class="container">
		<div>
			<header class="title">
				<h2>Get in touch</h2>
				<span class="byline">Contact us below through social media!</span> </header>
			<ul class="contact">
        <li><a href="http://www.twitter.com"><span>Twitter</span><%= image_tag("Twitter_icon.png", :alt => "Twitter") %></a></li>
        <li><a href="http://www.facebook.com"><span>Facebook</span><%= image_tag("Facebook_icon.png", :alt => "Facebook") %></a></li>
        <li><a href="http://www.LinkedIn.com"><span>LinkedIn</span><%= image_tag("Linkedin_icon.png", :alt => "LinkedIn") %></a></li>
      </ul>
		</div>
	</div>
</div>